---
extends: default
ignore: |
  charts/*/templates/
  system-components/barman-cloud-plugin/manifest.yaml
  platform-services/kanidm-sync/manifests/crd.yaml
  platform-services/pg-db-controller/manifests/crd.yaml
rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1
  truthy:
    check-keys: false
  document-start: disable
