---
extends: default
ignore: |
  charts/*/templates/
  system-components/barman-cloud-plugin/manifest.yaml
rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1
  truthy:
    check-keys: false
  document-start: disable
