apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-home
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: default
  sources:
    - chart: k8s-http-routes
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 2.0.0
      helm:
        valuesObject:
          routes:
            - name: inf-k8s-route
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - inf-k8s.net
              rules:
                - backendRefs:
                    - name: ingress-home
                      port: 80
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
    - repoURL: https://github.com/Accurate0/inf-k8s.git
      name: application
      path: home/kubernetes
      kustomize:
        images:
          - ingress-home=ghcr.io/accurate0/ingress-home:${ARGOCD_APP_REVISION}
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-home
operation:
  initiatedBy:
    username: github-actions
  sync:
    prune: true
    syncStrategy:
      hook: {}
