apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-assistant
  namespace: argocd
spec:
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        shared-gateway-access: "true"
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
  project: default
  sources:
    - chart: k8s-http-routes
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 2.0.0
      helm:
        valuesObject:
          routes:
            - name: homeassistant
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - home.inf-k8s.net
              rules:
                - backendRefs:
                    - group: ""
                      kind: Service
                      name: home-assistant
                      port: 8080
                      weight: 1
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
    - chart: home-assistant
      repoURL: http://pajikos.github.io/home-assistant-helm-chart
      targetRevision: 0.3.21
      helm:
        valuesObject:
          initContainers:
            - name: init-hacs
              image: bash
              command:
                [
                  "bash",
                  "-c",
                  "cd /config && wget -O - https://get.hacs.xyz | bash -",
                ]
              volumeMounts:
                - mountPath: /config
                  name: home-assistant
          configuration:
            templateConfig: |-
              # Loads default set of integrations. Do not remove.
              default_config:

              http:
                use_x_forwarded_for: true
                trusted_proxies:
                  {{- range .Values.configuration.trusted_proxies }}
                  - {{ . }}
                  {{- end }}
              # Load frontend themes from the themes folder
              frontend:
                themes: !include_dir_merge_named themes

              automation: !include automations.yaml
              script: !include scripts.yaml
              scene: !include scenes.yaml
              prometheus:
                namespace: homeassistant
                requires_auth: false
            enabled: true
            forceInit: true
            trusted_proxies:
              - 10.42.0.0/24
              - 10.42.1.0/24
              - 10.42.1.2
              - 10.42.2.0/24
              - 10.42.3.0/24
              - 10.42.4.0/24
              - 10.42.5.0/24
              - 10.42.6.0/24
              - 10.42.7.0/24
              - 10.42.8.0/24
          ingress:
            enabled: false
            className: "nginx"
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-prod
              nginx.ingress.kubernetes.io/proxy-body-size: 30m
            hosts:
              - host: home.inf-k8s.net
                paths:
                  - path: /
                    pathType: ImplementationSpecific
            tls:
              - secretName: home-inf-k8s
                hosts:
                  - home.inf-k8s.net
          persistence:
            enabled: true
            storageClass: "longhorn-replicated"
          serviceMonitor:
            enabled: true
            scrapeInterval: 30s
            labels:
              release: prometheus

  destination:
    server: https://kubernetes.default.svc
    namespace: home-assistant

operation:
  initiatedBy:
    username: github-actions
  sync:
    syncStrategy:
      hook: {}
