apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        shared-gateway-access: "true"
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
  project: default
  sources:
    - repoURL: https://github.com/Accurate0/inf-k8s.git
      path: applications/longhorn
    - chart: k8s-http-routes
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 2.0.0
      helm:
        valuesObject:
          routes:
            - name: longhorn
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - longhorn.inf-k8s.net
              rules:
                - backendRefs:
                    - group: ""
                      kind: Service
                      name: longhorn-frontend
                      port: 80
                      weight: 1
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
    - chart: longhorn
      repoURL: https://charts.longhorn.io/
      targetRevision: 1.10.0
      helm:
        valuesObject:
          global:
            tolerations:
              - key: "inf-k8s.net/architecture"
                operator: "Equal"
                value: "arm64"
                effect: "NoSchedule"
          longhornUI:
            replicas: 1
          defaultSettings:
            taintToleration: inf-k8s.net/architecture=arm64:NoSchedule
          preUpgradeChecker:
            jobEnabled: false
          ingress:
            enabled: false
            secureBackends: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-prod
            host: longhorn.inf-k8s.net
            tls: true
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system

operation:
  initiatedBy:
    username: github-actions
  sync:
    syncStrategy:
      hook: {}
