{% for site in proxmox_nginx_sites %}
upstream {{ site.name }} {
    server {{ site.upstream }};
}

server {
    listen 80{% if site.default | default(false) %} default_server{% endif %};
    server_name {{ site.domain }};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl{% if site.default | default(false) %} default_server{% endif %};
    http2 on;
    server_name {{ site.domain }};

    ssl_certificate {{ proxmox_nginx_ssl_certificate }};
    ssl_certificate_key {{ proxmox_nginx_ssl_certificate_key }};

    proxy_redirect off;

    location / {
        proxy_pass https://{{ site.name }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_buffering off;
        client_max_body_size 0;
        proxy_connect_timeout 3600s;
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        send_timeout 3600s;
    }
}
{% if not loop.last %}

{% endif %}
{% endfor %}
