global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	stdout format raw local0
    mode http
    option httplog
    option dontlognull

    timeout client 30s
    timeout server 30s
    timeout connect 5s
    timeout tunnel 1h
    timeout client-fin 30s

    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend prometheus
  bind {{ tailscale_ip_result.stdout }}:8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log

frontend internal-https
  bind {{ tailscale_ip_result.stdout }}:443
  mode tcp
  option tcplog

  tcp-request inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }

  use_backend k8s-envoy-gateway-https

frontend internal-ssh
  bind {{ tailscale_ip_result.stdout }}:22
  mode tcp
  option tcplog

  tcp-request inspect-delay 5s
  acl valid_payload req.payload(0,7) -m str "SSH-2.0"
  tcp-request content reject if !valid_payload
  tcp-request content accept if valid_payload

  use_backend k8s-envoy-gateway-ssh

frontend internal-k8s-api
  bind {{ tailscale_ip_result.stdout }}:6443
  mode tcp
  option tcplog

  use_backend k8s-api-backend

frontend external-ssh
  bind *:22
  bind [::]:22
  mode tcp
  option tcplog

  tcp-request inspect-delay 5s
  acl valid_payload req.payload(0,7) -m str "SSH-2.0"
  tcp-request content reject if !valid_payload
  tcp-request content accept if valid_payload

  use_backend k8s-envoy-gateway-external-ssh

frontend external-http
  bind *:80
  bind [::]:80
  mode http
  option httplog

  redirect scheme https code 301

frontend external-https
  bind *:443
  bind [::]:443
  mode tcp
  option tcplog

  stick-table type ipv6 size 1m expire 30m store conn_rate(10s),conn_cur

  acl trusted_source src -f /etc/haproxy/trusted-sources.txt -f /etc/haproxy/cloudflare-ips.txt

  tcp-request connection track-sc0 src if !trusted_source

  acl too_many_conns sc_conn_rate(0) gt 30
  acl too_many_current_conns sc_conn_cur(0) gt 10

  tcp-request content reject if !trusted_source too_many_conns
  tcp-request content reject if !trusted_source too_many_current_conns

  tcp-request inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }

  acl allowed_domain req.ssl_sni -m str -i -f /etc/haproxy/allowed-domains.txt

  tcp-request content reject if !allowed_domain

  use_backend k8s-envoy-gateway-https

backend k8s-envoy-gateway-https
  mode tcp
  balance leastconn
  retries 3

  option tcp-check

{% for backend in proxy_backends %}
  {% if backend.proxy_enabled %}
  server {{ backend.name }} {{ backend.ip }}:8443 check check-send-proxy maxconn 30 send-proxy-v2
  {% endif %}
{% endfor %}

backend k8s-envoy-gateway-ssh
  mode tcp
  balance leastconn
  retries 3

  option tcp-check

{% for backend in proxy_backends %}
  {% if backend.proxy_enabled %}
  server {{ backend.name }} {{ backend.ip }}:2222 check check-send-proxy maxconn 30 send-proxy-v2
  {% endif %}
{% endfor %}

backend k8s-envoy-gateway-external-ssh
  mode tcp
  balance leastconn
  retries 3

  option tcp-check

{% for backend in proxy_backends %}
  {% if backend.proxy_enabled %}
  server {{ backend.name }} {{ backend.ip }}:2223 check check-send-proxy maxconn 30 send-proxy-v2
  {% endif %}
{% endfor %}

backend k8s-api-backend
  mode tcp
  balance roundrobin
  retries 3

  option tcp-check

{% for backend in proxy_backends %}
  {% if backend.is_api_server %}
  server {{ backend.name }} {{ backend.ip }}:6443 check maxconn 30
  {% endif %}
{% endfor %}
