name: media

x-env: &env
  PUID: "{{ media_puid }}"
  PGID: "{{ media_pgid }}"
  TZ: "{{ media_timezone }}"

networks:
  media:
    name: {{ media_network }}

services:
{% include 'services/jellyfin.yml.j2' %}

{% include 'services/sonarr.yml.j2' %}

{% include 'services/radarr.yml.j2' %}

{% include 'services/gluetun.yml.j2' %}

{% include 'services/transmission.yml.j2' %}

{% include 'services/flood.yml.j2' %}

{% include 'services/prowlarr.yml.j2' %}

{% include 'services/bazarr.yml.j2' %}

{% include 'services/flaresolverr.yml.j2' %}

{% include 'services/recyclarr.yml.j2' %}

{% include 'services/autoheal.yml.j2' %}
