name: homeassistant

services:
  homeassistant:
    image: {{ homeassistant_image }}:{{ homeassistant_image_tag }}
    container_name: homeassistant
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: "{{ homeassistant_timezone }}"
    volumes:
      - {{ homeassistant_root }}/config:/config
      - /run/dbus:/run/dbus:ro
