# yaml-language-server: $schema=https://k8s-schemas.anurag.sh/apps/deployment_v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: @@NAME@@
  namespace: @@NAME@@
spec:
  selector:
    matchLabels:
      app: @@NAME@@
  replicas: @@REPLICAS@@
  template:
    metadata:
      labels:
        app: @@NAME@@
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: @@NAME@@
          image: @@IMAGE@@
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
@@PORTS@@
