apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: @@NAME@@-managed-secrets
  namespace: @@NAME@@
spec:
  refreshInterval: 900s
  secretStoreRef:
    name: infisical-@@NAME@@-secret
    kind: SecretStore
  target:
    name: @@NAME@@-managed-secrets
    creationPolicy: Owner
    template:
      type: Opaque
  dataFrom:
    - find:
        conversionStrategy: Default
        decodingStrategy: None
        name:
          regexp: ".*"
        nullBytePolicy: Ignore
