
    - chart: k8s-secrets
      repoURL: oci://ghcr.io/accurate0/charts/k8s-secrets
      targetRevision: @@SECRETS_CHART_VERSION@@
      helm:
        valuesObject:
          defaults:
            namespace: @@NAME@@
            provider: openbao
            resyncInterval: 900
          secrets:
            - name: @@NAME@@
              managedSecrets:
                - secretName: @@NAME@@-managed-secrets
