    - chart: k8s-secrets
      repoURL: oci://ghcr.io/accurate0/charts/k8s-secrets
      targetRevision: @@SECRETS_CHART_VERSION@@
      helm:
        valuesObject:
          defaults:
            namespace: @@NAME@@
            projectSlug: @@PROJECT_SLUG@@
            resyncInterval: 900
          secrets:
            - name: @@NAME@@-secret
              secretPath: /
              managedSecrets:
                - secretName: @@NAME@@-managed-secrets
