    - chart: k8s-http-routes
      repoURL: oci://ghcr.io/accurate0/charts/k8s-http-routes
      targetRevision: @@CHART_VERSION@@
      helm:
        valuesObject:
          routes:
            - name: @@ROUTE_NAME@@
              gateway:
                name: @@GATEWAY@@
                namespace: envoy-gateway-system
              hostnames:
@@HOSTNAMES@@
              rules:
                - backendRefs:
                    - group: ""
                      kind: Service
                      name: @@NAME@@
                      port: @@SERVICE_PORT@@
                      weight: 1
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
