bouncerServiceName: envoy-proxy-bouncer
routes:
  - name: "some-route"
    gateway:
      name: shared-gateway
      namespace: envoy-gateway-system
    hostnames:
      - example.com
    ratelimit:
      rules:
        - clientSelectors:
            - headers:
                - name: CF-Connecting-IP
                  type: Distinct
          limit:
            requests: 5
            unit: Second

    rules:
      - backendRefs:
          - name: service
            port: 8000
        matches:
          - path:
              type: PathPrefix
              value: /

  - name: "some-route-2"
    gateway:
      name: shared-gateway
      namespace: envoy-gateway-system
    hostnames:
      - example.com
    rules:
      - backendRefs:
          - name: service
            port: 8000
        matches:
          - path:
              type: PathPrefix
              value: /
