[Unit]
Description=Sync Cloudflare IP ranges for HAProxy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cloudflare-ips-sync
