name: PR Build
on:
  pull_request:
    paths:
      - home/**

jobs:
  build:
    name: Build
    defaults:
      run:
        working-directory: home
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          context: ./home
          push: false
          build-args: |
            BINARY_NAME=ingress-home
