apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: object-registry
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: default
  sources:
    - chart: k8s-http-routes
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 2.0.0
      helm:
        valuesObject:
          routes:
            - name: object-registry-ui-route
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - ui.object-registry.inf-k8s.net
              rules:
                - backendRefs:
                    - name: object-registry-ui
                      port: 80
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
    - repoURL: https://github.com/Accurate0/inf-k8s.git
      name: application
      path: object-registry/object-registry-ui/kubernetes
      kustomize:
        images:
          - object-registry-ui=ghcr.io/accurate0/object-registry-ui:${ARGOCD_APP_REVISION}
  destination:
    server: https://kubernetes.default.svc
    namespace: object-registry
operation:
  initiatedBy:
    username: github-actions
  sync:
    prune: true
    syncStrategy:
      hook: {}
